.breadcrumb{
    background-color: #f8f9fc !important;
}

.error {
    color: red !important;
    font-size: 16px !important;
    width: 100%;
}

.nf-btnAdd{
    background: #438715;
    color: white;
}

.nf-btnEdit{
    color: #560556;
}

.nf-btnView{
    color: #438715;
}

.nf-prdImage{
    height: 150px;
    border-radius: 10px;
}



@media (min-width: 768px)
{
    .sidebar .nav-item .nav-link {
        padding: 0.7rem !important;
    }

}
