/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/
/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/
 @media only screen and (min-width: 768px) and (max-width: 991px) {
     .main-menu ul>li a {
         padding: 20px 20px 20px;
    }
     .header-search {
         padding: 15px 0px;
    }
}
/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/
 @media only screen and (min-width: 599px) and (max-width: 767px) {
     .logo {
         text-align: center;
    }
     .cart-content-right {
         padding-bottom: 5px;
    }
     .mg {
         margin: 0px 0px;
    }
     .menu-area-main {
         height: 256px;
         overflow-y: auto;
    }
     .megamenu>.row [class*="col-"] {
         padding: 0px;
    }
     .menu-area-main .megamenu .men-cat {
         padding: 0px 15px;
    }
     .menu-area-main .megamenu .women-cat {
         padding: 0px 15px;
    }
     .menu-area-main .megamenu .el-cat {
         padding: 0px 15px;
    }
     .mean-container .mean-nav ul li a.mean-expand {
         height: 19px;
    }
     .category-box.women-box {
         display: none;
    }
     .cart-box {
         display: inline-block;
         margin: 0px 30px;
    }
     .wish-box {
         float: none;
         margin: 0px 30px;
         display: inline-block;
    }
     .menu-add {
         display: none;
    }
     .category-box {
         display: none;
    }
     .mean-container .mean-nav ul li ol {
         padding: 0px;
    }
     .mean-container .mean-nav ul li a {
         padding: 10px 20px;
         width: 94.8%;
    }
      .mean-container .mean-nav ul li a:hover {
         color: #fff !important;
    }
     .mean-container .mean-nav ul li li a {
         width: 92%;
         padding: 1em 4%;
    }
     .mean-container .mean-nav ul li li li a {
         width: 100%;
    }
     .header-search {
         padding: 15px 0px;
    }
     #collapseFilter.d-md-block {
         padding: 30px 0px;
    }
}
/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/
 @media only screen and (min-width: 280px) and (max-width: 599px) {
     .cart-content-right {
         padding-bottom: 5px;
    }
     .megamenu>.row [class*="col-"] {
         padding: 0px;
    }
     .menu-area-main .megamenu .men-cat {
         padding: 0px 15px;
    }
     .menu-area-main .megamenu .women-cat {
         padding: 0px 15px;
    }
     .menu-area-main .megamenu .el-cat {
         padding: 0px 15px;
    }
     .mean-container .mean-nav ul li a {
         padding: 1em 4%;
         width: 92%;
    }
      .mean-container .mean-nav ul li a:hover {color: #43960f;}
     .mean-container .mean-nav ul li li a {
         width: 90%;
         padding: 1em 5%;
    }
     .mean-container .sub-full.megamenu-categories ol li a {
         padding: 5px 0px;
         text-transform: capitalize;
         width: 100%;
    }
     .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
         width: auto;
         border: none;
         float: none;
    }
     .menu-area-main {
         height: 290px;
         overflow-y: auto;
    }
     .mean-container .mean-nav ul li a.mean-expand {
         top: 0;
    }

 



}
 @media (min-width: 1200px) and (max-width: 1500px) {
     .banner-main .carousel-caption {
         background: transparent;
    }
    .logo {
   padding-bottom: 6px;
     margin-top: 0px;
}
    .text-bg h1{
        font-size: 40px;
    }
   

 .about .about-box::after {background: inherit;}
   
}
 @media (min-width: 992px) and (max-width: 1199px) {
      .mean-last {display: none !important;}
      .logo {
   padding-bottom: 6px;
    
}
    .main-menu ul > li a {
        padding: 11px 13px;
       font-size: 16px;
    }
     
     .text-bg h1 {
        
         font-size: 43px;
         line-height: 54px;
         padding-bottom: 10px;
    }
     .text-bg span {
        padding-bottom: 13px;
    }
     .submit {
        padding: 17px 0px;
         max-width: 231px;
    }
    .Search_btn {
        font-size: 18px;
        max-width: 173px;
    }
    .about .about-box::after {background: inherit;}
    .vegetable_shop p {
        font-size: 14px;
        line-height: 25px;
    }
}
 @media (min-width: 768px) and (max-width: 991px) {
    .logo {
   padding-bottom: 6px;
    
}
    .text-bg h1 {
        font-size: 55px;
       line-height: 73px
    }
    .Vegetable .Vegetable_fom {width: 55%;}
    .Search_btn{
font-size: 17px;
max-width: 145px;}
    .text-bg a { max-width: 147px; margin-bottom: 30px; }
    .margin_top {margin-top: 0px;}
     .main-menu ul>li a {
             padding: 8px 5px;
          font-size: 13px;
    
    
    }
    .margin_top span {top: 44%;}
   .about .about-box::after {background: inherit;}
   .vegetable_shop p {
    margin-bottom: 30px; 
    font-size: 14px;
    line-height: 18px;
   }
   .clients .titlepage h2 {margin-bottom:0;}
   .vegetable_shop h3 {font-size: 24px;}
}


 @media (min-width: 576px) and (max-width: 767px) {
    .slider_section {padding: 50px 0;}
    .logo {
 
    margin-top: 0px;

}
.mean-container .mean-bar {margin-top: 7px;}
   .header {background: #efefef; padding: 20px 0px 20px 0px;}
  .menu-area {float: inherit;}
     .text-bg h1 {padding-top: 0px;}
     .text-img {
        padding-top: 30px;
    }
    .Search_btn {
        font-size: 18px;
        max-width: 191px;
    }
    .about .about-box::after {background: inherit;}
    .clients .titlepage h2 {margin-bottom: inherit;}
    .vegetable_shop p {margin-bottom: 30px;}
   .margin_top span {top: 44%;}
 
    .margin_top {margin-top: 30px;}
    .testimonial_cont {padding: 23px 30px;}
    .cross_inner h3 {
        padding-left: 0px;
padding-top: 15px;
padding-bottom: 15px;
    }
    .testimonial_cont p {
        padding-left: 0px;
font-size: 16px;
line-height: 20px;}
     ul.top_icon li a {
        padding: 0px 13px;
    }
   
}
 @media (max-width: 575px) {
    .menu-area {
    float: inherit;
}
     .header {
         padding: 20px 0px 0px 0px;
         background: #efefef;
    }
    .mean-last {display: none !important;}
     .logo {
      float: inherit;
    margin-top: 0px;
}
.slider_section {padding: 10px 0px 40px 0px;}
   .text-bg span {
        font-size: 30px;
    line-height: 36px;
   }

   .text-bg h1 {
        padding-bottom: 15px;
        font-size: 39px;
    line-height: 52px;
   }

  .text-bg p {
    font-size: 16px;
   line-height: 24px;
  }
.Vegetable .Vegetable_fom {
    padding: 15px 15px;
    width: 68%;
   font-size: 14px;
}
.Search_btn  {
    font-size: 13px;

max-width: 71px;
}

.text-bg a {
    margin-right: 4px;
    font-size: 13px;
    max-width: 104px;
}
.images_box {
    margin: 30px 0;
}

.about .about-box h2 { font-size: 34px; }
.about .about-box p {padding: 20px 0px; font-size: 16px; line-height: 25px;}
.about .about-box::after {position: inherit;}
.titlepage h2 {line-height: 40px; font-size: 31px;}
.vegetable_shop h3 { font-size: 25px; }

.vegetable_shop p {margin-bottom: 30px;}
.margin_top {margin-top: 30px;}
.vegetable_img span {display: none;}
.margin_top span {display: none;}
.testimonial_cont {    padding: 34px 20px;}  
.cross_inner h3 {
    padding-left: 0px;
padding-top: 20px;
padding-bottom: 25px;
}
.testimonial_cont p {
    padding-left: 0px;
    font-size: 15px;
    line-height: 21px;
}
.clients .titlepage h2 {margin-bottom: 0px;}



ul.loca {
    margin-bottom: 30px;
}
ul.Menu_footer {
      margin-bottom: 30px;
}
}
