.logo_footer p{
    font-size: 25px;
    border-bottom: 1px solid;
}

.frs-aboutus-image{
    height: 400px;
    width: 400px !important;
    margin: 50px 50px;
    border-radius: 10px;
}

.app-info{
    background-color: #fff;
    box-shadow: #ddd 0px 0px 13px 5px;
    margin: 90px 30px 20px 30px;
}

.app-title{
    text-align: center;
    margin-top: 15px;
    font-size: 30px;
    font-weight: bold;
    color: #497b18;
}